{% extends "base_document.html" %}
{% block main_content %}
    {% load static %}    
    <main class="document">
        <div class="document__content">
            <div class="document__content__intro">
                <a href="/"> 
                    LOGO AQUI
                </a>
            </div>
            <div class="document__html">
                {{ content_html | safe }}
            </div>
            <div class="document__update">
                <span>Última Atualização: {{ update }}</span>
            </div>
        </div>
    </main>
{% endblock %}