<header>
    <div class="header__top header--normal header--theme1">
        <a class="header__title loader-a" href="/"> 
            <i class="fab fa-phoenix-squadron"></i>
            <h1>NOME_</h1>
            <h4>EMPRESA</h4>
        </a>
        {% include "includes/navs/nav1.html" %}
        <div>
            <div class="header__info">
                <ul>
                    <li class="text">NUMERO_TELEFONE</li>
                    <li class="icon"><i id="icone-telefone" class="fas fa-phone"></i></li>
                </ul>
            </div>
        </div>
        <div class="header__mobile-bars">
            <a>
                    <span></span>
                    <span></span>
                    <span></span>
            </a>
        </div>
    </div>
    {% include "includes/navs/nav-mobile1.html" %}
</header>

