.registrar,
.listar,
.edit,
.diario{
    width: 50%;
    background-color: grey;
    border: 2px solid black
}
.diario h2,
.diario h1{
    color: white;
}
.diario a,
.diario label,
.registrar a,
.registrar label,
.edit a,
.edit label,
.listar a,
.listar label{
    color: white;
}