<nav class="mobile mobile--normal" id="mob">
    <ul class="mobile__menu">
        <li><a href="" class="loader-a">OPCAO_1</a></li>
        <li><a href="" class="loader-a">OPCAO_2</a></li>
        <li><a href="" class="loader-a">OPCAO_3</a></li>
        <li><a href="" class="loader-a">OPCAO_4</a></li>
        <li><a href="" class="loader-a">OPCAO_5</a></li>
    </ul>
    <div class="mobile__socials">
        <ul class="mobile__social">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
        <ul class="mobile__logo">
            <li ><a href="#" id="loader-a"><i class="fab fa-rebel"></i>NOME_EMPRESA</a></li>
        </ul>
    </div>
</nav>